@font-face
    font-family:"Fira Logic"
    src:url("../fonts/FiraLogic-Regular.woff") format("woff"), url("../fonts/FiraLogic-Regular.tff") format("tff")

h1,h2,h3,h4
    font-family:Fira Sans

p, ul, ol, dd, .text, footer
    font-family:Open Sans

.proofFeedback li
    line-height: 1.2 em

pre
    overflow: visible
    font-family:Fira Logic

pre *
    font-family:Fira Logic !important
    white-space:pre-wrap
    white-space: -moz-pre-wrap
